.messages {
    flex-grow: 1;
    overflow-y: auto;
}

.navbar {
    border-bottom: solid 1px #808080;
}

.navbar-brand {
    font-weight: 700;
    color: #fff;

}

.navbar-brand:hover {
    color: #fff;
}