.container {
    min-width: 100%;
    display: block;
    position: relative;
    left: 0;
    padding-left: initial;
}
.liste {
    background-color: #2C2F33;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 15px;
}

.liste .list-group {
    flex-grow: 1;
}

h3 {
    color: white;
}
.text-start {
    color: white;
    cursor: pointer;
}