.container {
    min-width: 100%;
    display: block;
    position: relative;
    left: 0;
    padding-left: initial;
}
.liste {
    width: 16rem;
    height: 100%;
    background-color: #2C2F33;
    display: block;
    position: fixed;
}

h1{
    color: white;
}
.text-start {
    color: white;
    cursor: pointer;
}
.container a {
    /* margin-left: 0.2rem ; */
}