.container {
    min-width: 100%;
    display: block;
    position: relative;
    left: 0;
    padding-left: initial;
}
.liste {
    background-color: #2C2F33;
    display: block;
}

h3 {
    color: white;
}
.text-start {
    color: white;
    cursor: pointer;
}